@charset "utf-8";

#over_rank_msg {
  color: red;
}

#main_info [id$="_label"] {
  background-color: palegreen;
}

/*数値入力項目*/
.input_column {
  background-color: bisque;
  text-align: right;
  border: inherit;
}

/*選択項目*/
.select_column {
  direction: rtl;
  background-color: bisque;
}

/*表示項目*/
.disp_column {
  text-align: right;
}

/*使用方法*/
#how_to {
  margin-top: initial;
  color: red;
}

/*周回数テーブル ヘッダ*/
#lap_count_table thead {
  background-color: palegreen;
}

/*周回数テーブル 1周経験値*/
[id^="lap_exp"] {
  text-align: right;
}

/*周回数テーブル 1日分*/
[id^="lap_one_day"] {
  text-align: right;
}

/*周回数テーブル 目標まで*/
[id^="lap_goal"] {
  text-align: right;
}

/*周回数テーブル 1日分(h)*/
[id^="lap_one_day_h"] {
  text-align: right;
}

/*周回数テーブル 目標まで(h)*/
[id^="lap_goal_h"] {
  text-align: right;
}

/*周回数テーブル 説明*/
#lap_tips {
  margin-top: initial;
}

/*シェアラベル*/
#tweet_label {
  float: left;
}

/*ウィンドウ幅が767px以上の場合に適用*/
@media screen and (min-width: 1025px) {
  #over_rank_msg {
    font-size: 14px;
  }

  /*ヘッダタイトル*/
  #head_title {
    font-size: 25px;
  }

  /**/
  #main_info td {
    font-size: 15px;
  }

  #main_info input {
    font-size: 16px;
  }

  /*目標ランクテキストボックス*/
  #target_rank {
    width: 70px;
  }

  /*現在のランク*/
  #now_rank {
    width: 60px;
  }

  /*累計経験値テキストボックス*/
  #total_exp {
    width: 120px;
  }

  .select_column {
    font-size: 16px;
  }

  .target_ymd {
    width: 60px;
  }

  #how_to {
    font-size: 14px;
  }

  #lap_tips {
    font-size: 14px;
  }

  #tweet_label {
    font-size: 14px;
  }

  #contact {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  /*ウィンドウ幅が最大767pxまでの場合に適用 タブレット*/
  #over_rank_msg {
    font-size: 14px;
  }

  /*ヘッダタイトル*/
  #head_title {
    font-size: 25px;
  }

  /**/
  #main_info td {
    font-size: 15px;
  }

  #main_info input {
    font-size: 16px;
  }

  /*目標ランクテキストボックス*/
  #target_rank {
    width: 70px;
  }

  /*現在のランク*/
  #now_rank {
    width: 60px;
  }

  /*累計経験値テキストボックス*/
  #total_exp {
    width: 120px;
  }

  .select_column {
    font-size: 16px;
  }

  .target_ymd {
    width: 80px;
  }

  #how_to {
    font-size: 14px;
  }

  #lap_tips {
    font-size: 14px;
  }

  #tweet_label {
    font-size: 14px;
  }

  #contact {
    font-size: 14px;
  }
}

/*ウィンドウ幅が最大479pxまでの場合に適用 スマホ*/
@media screen and (max-width: 599px) {
  /*ヘッダタイトル*/
  #head_title {
    font-size: 18px;
  }

  #over_rank_msg {
    font-size: 12px;
  }

  /**/
  #main_info td {
    font-size: 12px;
  }

  #main_info input {
    font-size: 12px;
  }

  /*目標ランクテキストボックス*/
  #target_rank {
    width: 68px;
  }

  /*現在のランク*/
  #now_rank {
    width: 58px;
  }

  /*累計経験値テキストボックス*/
  #total_exp {
    width: 100px;
  }

  #lap_count_table {
    font-size: 13px;
  }

  .select_column {
    font-size: 13px;
  }

  .target_ymd {
    width: 65px;
  }
  #how_to {
    font-size: 12px;
  }

  #lap_tips {
    font-size: 12px;
  }

  #tweet_label {
    font-size: 12px;
  }

  #contact {
    font-size: 12px;
  }
}
